---
layout: default
---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab"
/>

<article>
  <section>
    <div class="d-flex flex-row my-2">
      <div class="d-flex flex-column w-25 mr-1 left-panel-purple">
        <div class="w-100 right-panel-title mt-4">
          <div class="d-flex flex-column my-2">
            <div class="d-flex alert w-20 p-1">
              <img
                class="profile-picture align-self-center"
                src="../assets/imgs/profile.jpg"
              />
            </div>
            <div class="">
              <h1 class="text-center">Anastasya Shilova</h1>
              <h4 class="text-dark font-weight-bold text-center">
                PHD IN BIOPHYSICS
              </h4>
            </div>
          </div>
          <h3 class="text-dark font-weight-bold my-4">Details</h3>
          <h6 class="mt-2">anastasyashilova@gmail.com</h6>
        </div>

        <!-- Links -->
        <div class="w-100 right-panel-title mt-4">
          <h4 class="text-dark font-weight-bold">Links</h4>
          <a href="https://www.linkedin.com/in/anastasiiash/">LinkedIn</a>
        </div>
        <!-- End of Links -->
        <!-- Start of skill block -->

        <div class="w-100 right-panel-title mt-4">
          <h4 class="text-dark font-weight-bold">Skills</h4>
          <!-- Start of skill entry -->
          <div class="d-flex flex-column">
            <div>X-ray Crystallography</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 100%"
              ></div>
            </div>
          </div>
          <!-- End of skill entry -->
          <!-- Start of skill entry -->
          <div class="d-flex flex-column">
            <div>Structural Biology</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 80%"
              ></div>
            </div>
          </div>
          <!-- End of skill entry -->
          <!-- Start of skill entry -->
          <div class="d-flex flex-column">
            <div>Material Science</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 80%"
              ></div>
            </div>
          </div>
          <!-- End of skill entry -->
          <!-- Start of skill entry -->
          <div class="d-flex flex-column">
            <div>Bioinformatics</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 80%"
              ></div>
            </div>
          </div>
          <!-- End of skill entry -->
          <!-- Start of skill entry -->
          <div class="d-flex flex-column">
            <div>Data Analysis</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 80%"
              ></div>
            </div>
          </div>
          <!-- End of skill entry -->
          <!-- Start of skill entry -->
          <div class="d-flex flex-column">
            <div>Instrumentation</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 60%"
              ></div>
            </div>
          </div>
          <!-- End of skill entry -->
          <!-- Start of skill entry -->
          <div class="d-flex flex-column">
            <div>Project Management</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 60%"
              ></div>
            </div>
          </div>
          <!-- End of skill entry -->
        </div>
        <!-- End of skill block -->

        <!-- Start of language block -->

        <div class="w-100 right-panel-title mt-4">
          <h4 class="text-dark font-weight-bold">Languages</h4>
          <!-- Start of language entry -->
          <div class="d-flex flex-column">
            <div>Russian</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 100%"
              ></div>
            </div>
          </div>
          <!-- End of language entry -->
          <!-- Start of language entry -->
          <div class="d-flex flex-column">
            <div>English</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 80%"
              ></div>
            </div>
          </div>
          <!-- End of language entry -->
          <!-- Start of language entry -->
          <div class="d-flex flex-column">
            <div>French</div>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                style="width: 80%"
              ></div>
            </div>
          </div>
          <!-- End of language entry -->
        </div>
        <!-- End of language block -->
      </div>
      <div class="w-75 ml-4">
        <div class="mx-2 my-4">
          <h3 class="text-dark font-weight-bold my-4">Profile</h3>
          <p class="text-justify profile-text my-4">
            An experienced researcher with in-depth knowledge in biophysics,
            structural biology, and data analysis who would like to pursue a
            career as an application specialist.
          </p>
        </div>
        <!-- End of profile card  -->
        <!-- Start of employment details card  -->
        <div class="mx-2 my-4">
          <h3 class="text-dark font-weight-bold my-4">Employment history</h3>
          <!-- Start of employment  card  -->
          <div class="d-flex flex-row my-2">
            <div class="w-100">
              <h3 class="title-employment font-weight-bold">
                Web developer, Freelance
              </h3>
              <h5 class="time-employment text-dark font-weight-bold mt-1">
                OCTOBER 2020 - PRESENT
              </h5>
              <ul>
                <li>Designing and building the website front-end.</li>
                <li>
                  Establishing and guiding the website’s architecture (using
                  PHP, HTML and CSS).
                </li>
                <li>Conducting website performance tests.</li>
                <li>Troubleshooting content issues.</li>
                <li>Conducting training with the client.</li>
              </ul>
            </div>
          </div>
          <!-- End of employment  card  -->
          <!-- Start of employment  card  -->
          <div class="d-flex flex-row my-2">
            <div class="w-100">
              <h3 class="title-employment font-weight-bold">
                R&D Application Specialist EMEA at Calibre Scientific,
                Sheffield, UK
              </h3>
              <h5 class="time-employment text-dark font-weight-bold mt-1">
                JANUARY 2020 - JUNE 2020
              </h5>
              <ul>
                <li>Life Sciences product demonstrations at customer sites</li>
                <li>Technical training for customers and colleagues</li>
                <li>Technical support</li>
                <li>New product development and presentation</li>
                <li>Website development (Wordpress and HTML, CSS)</li>
              </ul>
            </div>
          </div>
          <!-- End of employment  card  -->
          <!-- Start of employment  card  -->
          <div class="d-flex flex-row my-2">
            <div class="w-100">
              <h3 class="title-employment font-weight-bold">
                Post-doctoral scientist at MAX IV Laboratory, Lund, Sweden
              </h3>
              <h5 class="time-employment text-dark font-weight-bold mt-1">
                FEBRUARY 2018 — DECEMBER 2019
              </h5>
              <ul>
                <li>Project management (serial crystallography)</li>
                <li>User's support and beamline set up</li>
                <li>Technical support and training for users</li>
                <li>Determination of protein structures using X-rays</li>
                <li>Master and PhD students supervision</li>
                <li>
                  Development of sample delivery techniques to perform serial
                  crystallography
                </li>
              </ul>
            </div>
          </div>
          <!-- End of employment  card  -->

          <!-- Start of employment  card  -->
          <div class="d-flex flex-row my-2">
            <div class="w-100">
              <h3 class="title-employment font-weight-bold">
                PhD Researcher, European Synchrotron Radiation Facility,
                Grenoble, France
              </h3>
              <h5 class="time-employment text-dark font-weight-bold mt-1">
                JANUARY 2014 — APRIL 2017
              </h5>
              <ul>
                <li>
                  Development of new methods for X-ray crystallography with
                  synchrotron radiation (serial crystallography)
                </li>
                <li>Determination of protein structures using X-rays</li>
                <li>
                  Setting up strong scientific collaborations with external
                  companies (EMBL, IBS, PSI)
                </li>
              </ul>
            </div>
          </div>
          <!-- End of employment  card  -->
          <!-- Start of employment  card  -->
          <div class="d-flex flex-row my-2">
            <div class="w-100">
              <h3 class="title-employment font-weight-bold">
                Research associate, Saint Petersburg State University, Saint
                Petersburg, Russia
              </h3>
              <h5 class="time-employment text-dark font-weight-bold mt-1">
                APRIL 2012 — APRIL 2013
              </h5>
              <ul>
                <li>
                  X-ray diffraction analysis of inorganic compounds (X-ray
                  powder diffraction)
                </li>
                <li>Differential scanning calorimetry (DSC)</li>
                <li>Differential thermal analysis (DTA)</li>
                <li>Scanning electron microscopy (SEM)</li>
                <li>Mössbauer spectroscopy</li>
              </ul>
            </div>
          </div>
          <!-- End of employment  card  -->
        </div>
        <!-- End of employment details card  -->

        <!-- Start of education details card  -->
        <div class="mx-2 my-4">
          <h3 class="text-dark font-weight-bold my-4">Education</h3>
          <!-- Start of education  card  -->
          <div class="d-flex flex-row my-2">
            <div class="w-100">
              <h3 class="font-weight-bold institution-education">
                PhD in biophysics, Université Grenoble Alpes, Grenoble, France
              </h3>
              <h5 class="time-education text-dark font-weight-bold mt-1">
                JANUARY 2014 — APRIL 2017
              </h5>
              <p class="description-education text-justify">
                This
                <a
                  href="https://tel.archives-ouvertes.fr/tel-01499403/document"
                  class="font-weight-bold"
                  >Ph.D. project</a
                >
                was a part of the Marie Curie Initial Training Network NanoMem
                funded by the European Commission and it required close
                collaboration between 10 different laboratories in Europe from
                both Universities and Industries. The aim was to exploit
                synchrotron based micro-focus X-ray beams to address challenging
                diffraction studies from small membrane protein crystals and the
                revolutionary new possibilities created by the X-ray Free
                Electron lasers and synchrotrons.
              </p>
            </div>
          </div>
          <!-- End of education  card  -->
          <!-- Start of education  card  -->
          <div class="d-flex flex-row my-2">
            <div class="w-100">
              <h3 class="font-weight-bold institution-education">
                Master degree in Materials Science, Saint Petersburg State
                University, St. Petersburg, Russia
              </h3>
              <h5 class="time-education text-dark font-weight-bold mt-1">
                SEPTEMBER 2011 — JULY 2013
              </h5>
              <p class="description-education text-justify">
                During these studies I have learned how to create and develop
                functional materials with new features using inorganic chemistry
                and physics. I used XRD, XRF, DSC, DTA, SEM and Mössbauer
                spectroscopy to study layered perovskites.
              </p>
            </div>
          </div>
          <!-- End of education  card  -->
        </div>
        <!-- End of education details card  -->
        <!-- Grants Section -->
        <div class="mx-2 my-4">
          <h3 class="text-dark font-weight-bold my-4">Software knowledge</h3>
          <table class="table table-border">
            <tr>
              <td>XDS</td>
              <td>MS OFFICE</td>
            </tr>
            <tr>
              <td>Coot</td>
              <td>LINUX</td>
            </tr>
            <tr>
              <td>NANOPEAKCELL</td>
              <td>PYTHON</td>
            </tr>
            <tr>
              <td>CRYSTFEL</td>
              <td>HTML</td>
            </tr>
            <tr>
              <td>DIALS</td>
              <td>CSS</td>
            </tr>
            <tr>
              <td>MXCUBE</td>
              <td>WORDPRESS</td>
            </tr>
            <tr>
              <td>PYMOL</td>
              <td>SALESFORCE</td>
            </tr>
            <tr>
              <td></td>
              <td>ORIGIN</td>
            </tr>
            <tr>
              <td></td>
              <td>TRELLO</td>
            </tr>
          </table>
        </div>
        <!-- End of Grants-->
        <!-- Grants Section -->
        <div class="mx-2 my-4">
          <h3 class="text-dark font-weight-bold my-4">Grants</h3>

          <!-- Start of education  card  -->
          <div class="d-flex flex-row my-2">
            <div class="w-100">
              <h3 class="font-weight-bold institution-education">
                VINNOVA Industrial accessibility in collaboration with SARomics
                Biostructures, 390,000 SEK
              </h3>
              <h5 class="time-education text-dark font-weight-bold mt-1">
                NOVEMBER 2018 — NOVEMBER 2019
              </h5>
              <p class="description-education text-justify">
                The Swedish Innovation Agency :VINNOVA funded this project to
                implement serial crystallography as a routine data collection
                tool at MAXIV. This project is done in collaboration with
                pharmaceutical company Saromics Biostructures.
              </p>
            </div>
          </div>
          <!-- End of education  card  -->
        </div>
        <!-- End of Grants-->
        <!-- Start of Publications  card  -->

        <div class="mx-2 my-4">
          <h3 class="text-dark font-weight-bold my-4">Publications</h3>
          <!-- HIDDEN BLOCK -->
          <a hidden href="https://scholar.google.com/citations?user=xxxxxxx=en"
            >Google Scholar profile</a
          >
          <!-- Start of publication  card  -->
          <div class="d-flex flex-row my-2">
            <div class="w-100">
              <p>
                <u>A. Shilova</u> et al.
                <strong
                  >Current status and future opportunities for serial
                  crystallography at MAXIV laboratory</strong
                >
                Journal of Synchrotron Radiation v. 27, N 5,, p. 1095‐102 (2020)
              </p>
              <p>
                T. Ursby, <u>A. Shilova</u>, et al. –
                <strong
                  >BioMAX the first macromolecular crystallography beamline at
                  MAXIV laboratory</strong
                >, Journal of Synchrotron Radiation v.27, N 5,, p. 1415‐29
                (2020)
              </p>
              <p>
                R. Andersson, R.Neutze, G.Branden, <u>A.Shilova</u> et al.
                <strong
                  >Well-based crystallization of lipidic cubic phase
                  microcrystals for serial X-ray crystallography
                  experiments</strong
                >, Acta Cryst. D75, 937-946 (2019)
              </p>
              <p>
                Kurauskas, V., Izmailov, S.A., Rogacheva, O.N.,
                <u>Shilova A.</u> et al.
                <strong
                  >Slow conformational exchange and overall rocking motion in
                  ubiquitin protein crystals</strong
                >. Nat Commun 8, 145 (2017)
              </p>
              <p>
                Nogly P., James D., Wang D., White T.A., Zatsepin N.,
                <u>Shilova A.</u>
                et al.
                <strong
                  >Lipidic cubic phase serial millisecond crystallography using
                  synchrotron radiation</strong
                >. IUCrJ, 2(2),168-176 (2015)
              </p>
              <p>
                Coquelle, N., Brewster, A.S., Kapp, U., <u>Shilova, A.</u>,
                Weinhausen, B., Burghammer, M. & Colletier, J-P.
                <strong
                  >Raster-scanning serial protein crystallography using micro-
                  and nano-focused synchrotron beams</strong
                >
                Acta Cryst. D71, 1184-1196 (2015)
              </p>
              <p>
                <u>A. Shilova</u>, I. Chislova, V. Panchuk, V. Semenov, I.
                Zvereva
                <strong
                  >Evolution of Iron Electronic State in the Solid Solutions
                  Gd2-xSr1+xFe2O7-δ.</strong
                >
                Solid State Phenomena, Vol. 194, 116-119 (2013)
              </p>
            </div>
          </div>
          <!-- End of publications  card  -->

          <!-- End of profile card  -->
        </div>
      </div>
    </div>

    {% comment %} {{ content }} {% endcomment %}
  </section>
</article>

<bibtex src="../assets/glima.bib">
  <div class="group year" extra="ASC number">
    <div class="group journal" extra="ASC string">
      <div class="templates"></div>
    </div>
  </div>
</bibtex>
